ul {
    list-style: none;
}

.padding_section {
    padding: 30px 0;
}

.header {
    width: 100%;
}

.header-logobox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.header-logo:first-child {
    padding-bottom: 14px;
    border-bottom: 6px solid #661017;
}

.header-logo {
    width: 50%;
    padding: 10px 0;
    border-bottom: 1px solid #cdcdcd;
    justify-content: center;
    align-items: center;
}

.header-logo:hover {
    opacity: 0.8;
}

.header-logo-link {

    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.header-logo-link img {
    height: 44px;
    width: 114px;
    margin: auto;
}

.header-logo-link:first-child img {
    height: 44px;
    width: 95px;
    margin: auto;
}

.nav_area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
}

.navi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi-list {
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navi-item a {
    display: block;
    padding: 12px 16px 10px 16px;
    color: #535353;
    font-size: .8rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.14em;
}

.navi-list .selected a {
    background-color: rgba(0, 0, 0, 0.623);
    color: beige;
}

.search-form {
    display: none;
    justify-content: center;
    align-items: center;
}



.search-btn {
    width: 15%;
    display: flex;
    align-items: center;
}

.search-btn img {
    width: 100%;
}

.search-form input {
    padding: 10px 10px;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .search-form {
        display: flex;
    }

    .navi {
        justify-content: start;
    }

    .navi-list {
        width: 60%;

    }
}

.breadcrumb {
    border-top: 1px solid #dcdcdc;
    padding: 15px 25px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.breadcrumb_item {
    padding-right: 16px;
    margin-right: 16px;
    position: relative;
    text-decoration: none;
}

.breadcrumb_item::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 0;
    margin: 0 auto;
    border-top: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    transform: rotate(45deg);
}

.BreadCrumb_Txt {
    color: #747474;
}

.breadcrumb_item2 {
    text-decoration: none;
}

.breadcrumb img {
    height: 12px;
    width: auto;
}

.breadcrumb_item2 .BreadCrumb_Txt {
    color: #000;
    font-weight: 700;
    font-size: 1.1rem;
}

.logo-top {
    text-align: center;
    height: 100px;
    margin: 10px auto;
    display: flex;
}

.logo-top img {
    width: 100%;
}


.swiper_banner-sm img {
    width: 100%;
}

.swiper_banner-md img,
.swiper_banner-pre-Btn,
.swiper_banner-next-Btn {
    display: none;
}

@media screen and (min-width: 768px) {
    .swiper_banner-sm img {
        display: none;
        width: 100%;
    }


    .swiper_banner-md {
        position: relative;
    }

    .swiper_banner-md::before {
        position: absolute;
        display: block;
        content: '';
        background: url('./images/pc_banner_image1645776677.jpg') center center / cover;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
    }

    .swiper_banner-md::after {
        position: absolute;
        display: block;
        content: '';
        background: url('./images/pc_banner_image1645776677.jpg') center center / cover;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .banner_arrow {
        width: 100%;
        position: relative;
    }

    .banner_arrow::before {
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
    }

    .banner_arrow::after {
        display: block;
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .swiper_banner-next-Btn {
        display: block;
        position: absolute;
        right: 0;
        top: 40%;
        background-color: rgba(255, 255, 255, 0.3);
        width: 40px;
        height: 75px;

    }

    .swiper_banner-next-Btn::after {
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        border-top: 2px solid #2c2c2c;
        border-right: 2px solid #2c2c2c;
        transform: rotate(45deg);
        position: absolute;
        top: 31.5px;
        left: 11px;
    }

    .swiper_banner-pre-Btn {
        display: block;
        position: absolute;
        left: 0;
        top: 40%;
        background-color: rgba(255, 255, 255, 0.3);
        width: 40px;
        height: 75px;

    }

    .swiper_banner-pre-Btn::after {
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        border-top: 2px solid #2c2c2c;
        border-left: 2px solid #2c2c2c;
        transform: rotate(-45deg);
        position: absolute;
        top: 31.5px;
        right: 11px;
    }

    .swiper_banner-md img {
        display: block;
        width: 100%;

    }
}

.container {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .main_banner {
        width: 100%;
        overflow: hidden;
    }
}

.title {
    text-align: center;
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: normal;
    margin: 16px;
    letter-spacing: .4rem;
    text-indent: .4rem;
}

.subtitle {
    display: block;
    font-size: 1.3rem;
    line-height: 2.8rem;
    color: #7c7c7c;
    letter-spacing: .3rem;
    text-indent: .3rem;
    font-weight: 500;
}

.overflow {
    overflow-x: scroll;
}

.newItem_area {
    list-style: none;
    display: flex;
    width: 120%;
    padding: 0 18px;
}

.itemRanking_area {
    list-style: none;
    display: flex;
    width: 200%;
    padding: 0 18px;
}

.Staff_Styling_area {
    list-style: none;
    display: flex;
    width: 220%;
    padding: 0 18px;
}

.Staff_Ranking_area {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0 18px;
}


.newItem_li {
    display: block;
    margin-right: 3px;
}

.itemRanking_li {
    display: block;
    padding-right: 3px;
    padding-bottom: 10px;

}

.container li a {
    text-decoration: none;
    color: #000;
}

.brandname {
    font-size: 0.9rem;
    opacity: 0.6;
    line-height: 1.2;
    margin-top: 8px;
}

.priceinner {
    vertical-align: baseline;
    font-size: 1.5rem;
}

.prietext {
    font-size: 1.1rem;
}

.container img {
    width: 100%;
}

.item_text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 8px 0;
}

.margin-bottom {
    margin-bottom: 16px;
}

.moreBtn {
    width: 100%;
    text-align: center;
}

.a-moreBtn {
    border-bottom: 2px solid #747474;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    opacity: .8;
    text-shadow: 1px 1px #ccc;
    margin: auto;
    position: relative;
    width: 150px;
    height: 36px;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: .4rem;
    text-indent: .4rem;
}

.a-moreBtn::after {
    position: absolute;
    top: 11;
    right: 0;
    display: block;
    content: '▶';
}

.itemRanking_card {
    width: 100%;
}

.Card_Ranking {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #faf9fa 50.5%) top left/100% 100%;
    width: 34px;
    height: 34px;
    text-align: center;
}

.Card_Position {
    position: relative;
}

.Card_Number {
    color: #000;
    display: block;
    width: 20px;
    padding: 3px 0;
}

.Card_Member {
    display: inline-block;
    padding: 3px;
    margin: 3px 0;
    background: #bf0010;
    color: #fff;
}

.Card_Ranking_1 {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #bfa870 50.5%) top left/100% 100%;
}

.Card_Ranking_2 {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #a8a9a8 50.5%) top left/100% 100%;
}

.Card_Ranking_3 {
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #99795c 50.5%) top left/100% 100%;
}

.Card_Ranking_3 span,
.Card_Ranking_2 span,
.Card_Ranking_1 span {
    color: #faf9fa;
}

.Accordion_Base {
    display: flex;
    background-color: #747474;
    justify-content: center;
    align-items: center;
    padding: 15px 18px;
    border-bottom: solid 2px #909090;
}

.Accordion_Base_C {
    width: 92%;
    font-size: 1.1rem;
}

.Accordion_Base_Date {
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 1px;
}

.Accordion_Base_Title {
    color: #fff;
}

.Accordion_Base_L {
    color: #faf9fa;
    font-size: 2rem;
    padding-right: 15px;
}

.Accordion_Base_R {
    color: #faf9fa;
    font-size: 2rem;
    padding-left: 15px;
}

.Shop_News_Body {
    display: flex;
    justify-content: center;

}



.bgc_f4 {
    background-color: #f4f4f4;
}

.Shop_News_List {
    list-style: none;
    width: 90%;
    overflow-x: scroll;
}

.Shop_News_Card {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #fff;
    margin: 5px 0;
}

.Shop_News_Card_Picture {
    width: 10%;
}


.Shop_News_Card_Box {
    flex: 1;
    padding: 10px 15px;
}

@media screen and (min-width: 768px) {

    .Shop_News_NewItem {
        width: 50%;
    }

    .Shop_News_Card_Picture {
        width: 20%;
    }
}

.UrLive_Body {
    width: 90%;
    margin: auto;
}

.Urlive_List {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.UrLive_li {
    width: 50%;
    padding: 5px;
}


.UrLive_picture {
    position: relative;
    width: 100%;
    padding-bottom: 120%;
    overflow: hidden;
}

.UrLive_picture>img {
    position: absolute;
    top: -20%;
}

.Urlive_text {
    width: 100%;
    padding: 0 5px;
}

.Urlive_Date {
    padding: 0 5px;
    font-weight: 400;
    color: #747474;
}

@media screen and (min-width: 768px) {
    .UrLive_li {
        width: 20%;
    }
}

.Staff_Tab_box {
    display: flex;
    width: 90%;
    margin: 10px auto;
}

.Staff_Tab {
    padding: 12px 0;
    color: #707070;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid #747474;
}

.Staff_selected {
    color: #000;
    font-weight: 800;
    border-bottom: 2px solid #000;
}

.Staff_Styling_li {
    padding: 5px;
}

.Staff_Info {
    display: flex;
    flex-shrink: 1;
}

.Staff_Info_pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.Staff_Info_pic img {
    width: 100%;
    object-fit: cover;
}

.Staff_Info_Name {
    flex: 1;
    padding-left: 12px;
}

.Staff_Info_Nickname {
    font-weight: 700;
}

.Staff_Info_Height,
.Staff_Info_Shop,
.Staff_Info_Brand {
    color: #747474;
    font-size: .8rem;
}

.Staff_Ranking_picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (min-width: 768px) {

    .Staff_Styling_li {
        width: 25%;
    }

    .Staff_Styling_card {
        width: 100%;
    }

    .Staff_Info {
        display: flex;
        flex-shrink: 1;
    }

    .Staff_Info_pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    .Staff_Info_pic img {
        width: 100%;
        object-fit: cover;
    }

    .Staff_Info_Name {
        flex: 1;
        padding-left: 12px;
    }

    .Staff_Ranking_area {
        padding: 0;
    }

    .Staff_Ranking_li {
        flex: 0 0 20%;
    }

    .Staff_Ranking_picture {
        margin: auto;
    }
}

.Ranking {
    text-align: center;
    flex-direction: column;
}

.Staff_Ranking_li {
    padding-left: 5px;
}

.Staff_Ranking_Num {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
}

.Staff_Ranking_Num span {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

.SNS_title {
    padding-top: 40px;
}

.SNSList {
    width: 80%;
    margin: 10px auto;
    list-style: none;
}

.SNSList li {
    margin: 20px;
}

.SNSList li a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
}

.SNSList li a img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.Tail_Bar {
    width: 80%;
    border: 1.5px solid #747474;
    display: flex;
    justify-content: center;
    margin: 20px auto;

}

.Tail_Btn_Wrap {
    width: 100%;
    text-align: center;
}

.Tail_Bar_Search_Btn {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    position: relative;
}

.Tail_Bar_Search_Btn::after {
    display: block;
    content: '▶';
    position: absolute;
    right: 0;

}

.Tail_Bar_Like_Btn {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    position: relative;
}

.Tail_Bar_Like_Btn::after {
    display: block;
    content: '';
    background: url('./images/sp_heart_like.svg') no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;

}

.Tail-Btn {
    border-bottom: 2px solid #747474;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    opacity: .8;
    margin: auto;
    position: relative;
    width: 45%;
    height: 45px;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-indent: .2rem;
}

.Tail-Btn::after {
    content: '▶';
    display: block;
    position: absolute;
    right: 0;
}

.footer {
    background-color: #000;
    padding-top: 50px;
}

.footer_Body {
    width: 100%;
    margin: auto;
    background-color: #000;
    padding: 0 0 10px;
}

.footer_navItem-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto 30px;
}

.footer_navItem {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 12px;
    padding: 0 12px;
    letter-spacing: .1rem;
}

.footer_SNS {
    padding: 40px 0;
}

.footer_SNS-wrap {
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.footer_SNS-wrap a {
    padding: 0 20px;
}

.footer_SNS-wrap img {
    width: 30px;
    height: 30px;
}

.footer_UrType {
    padding: 30px 0;
}

.footer_UrType-wrap {
    margin: auto;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.footer_UrType-wrap img {
    width: 66px;
}

.footer_UrType-wrap a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.footer_UrType-wrap-b {
    margin: auto;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.footer_UrType-wrap-b img {
    width: 100%;
}


.footer_UrType-wrap-b a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.footer_UrType-under {
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}

.footer_UrType-under a {
    display: block;
    width: 20%;
}

.footer_Under {
    background-color: #1b1b1b;
    width: 100%;
    text-align: center;

    color: #a8a9a8;
    padding-bottom: 16%;
}

.footer_Logo {
    margin: auto;
    width: 90%;
    padding: 10px 0;
}

.Menu {
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.Menu_List {
    width: 100%;
    display: flex;
}

.Menu_Item a {

    width: 100%;
}

.Menu_Item img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .overflow {
        overflow-x: hidden;
    }


    .Staff_Styling_area {
        width: 250%;
    }

    .Staff_Styling_li {
        width: 25%;
    }

    .newItem_area {
        position: relative;
        width: 100%;
        padding: 0;
    }
    .newItem_area_btnpre{
        display: block;
        position: absolute;
        left: 0;
        top: 30%;
        background-color: rgba(0, 0, 0, 0.3);
        width: 40px;
        height: 60px;
    }
    .newItem_area_btnpre::after{
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        border-top: 2px solid #2c2c2c;
        border-left: 2px solid #2c2c2c;
        transform: rotate(-45deg);
        position: absolute;
        top: 22.5px;
        left: 15px;
    }
    .newItem_area_btnnxt{
        display: block;
        position: absolute;
        right: 2px;
        top: 30%;
        background-color: rgba(0, 0, 0, 0.3);
        width: 40px;
        height: 60px;
    }
    .newItem_area_btnnxt::after{
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        border-top: 2px solid #2c2c2c;
        border-right: 2px solid #2c2c2c;
        transform: rotate(45deg);
        position: absolute;
        top: 22.5px;
        right: 15px;
    }

    .newItem_li {
        width: 25%;
    }

    .itemRanking_area {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .itemRanking_li {
        width: 25%;
    }
}


@media screen and (min-width: 768px) {

    .mdrow {
        display: flex;
        flex-wrap: wrap;
    }

    .Menu {
        width: 500px;
        position: fixed;
        right: 0;
        bottom: 0;
    }

}